# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-text-editor':
  'ctrl-!': 'pane-move-to:1'
  'ctrl-@': 'pane-move-to:2'
  'ctrl-#': 'pane-move-to:3'
  'ctrl-$': 'pane-move-to:4'

'.platform-darwin atom-text-editor':
  'cmd-alt-ctrl-down':  'pane-move:down'
  'cmd-alt-ctrl-left':  'pane-move:left'
  'cmd-alt-ctrl-right': 'pane-move:right'
  'cmd-alt-ctrl-up':    'pane-move:up'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'alt-ctrl-shift-down':  'pane-move:down'
  'alt-ctrl-shift-left':  'pane-move:left'
  'alt-ctrl-shift-right': 'pane-move:right'
  'alt-ctrl-shift-up':    'pane-move:up'
